<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
    <style>
      body {
        background-color: #f5f0e1; /* White Beige */
        font-family: "Open Sans", Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      .container {
        width: 100%;
        padding: 20px;
      }

      .email-wrapper {
        width: 100%;
        max-width: 400px;
        background: white;
        padding: 30px;
        text-align: left;
        border-radius: 10px;
        border: 1px solid #0c0e0c; /* Black border */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
        color: #333;
        margin-bottom: 10px;
      }

      p {
        color: #666;
        font-size: 14px;
        line-height: 1.8;
        font-family: "Open Sans", Arial, sans-serif;
      }

      a {
        text-decoration: none;
      }

      .header-title {
        margin: 0;
      }

      .verify-button {
        text-decoration: none;
        display: inline-block;
        padding: 12px 20px;
        background-color: #f5f0e1;
        color: #0c0e0c !important;
        font-size: 17px;
        font-weight: bold;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <!-- Use a table to center content -->
    <table
      class="container"
      role="presentation"
      width="100%"
      cellspacing="0"
      cellpadding="0"
    >
      <tr>
        <td align="center">
          <div class="email-wrapper">
            <h1 class="header-title">Confirm Your Email</h1>
            <p style="border-top: 1px solid #f5f0e1; padding-top: 20px;">
              Hello <span style="font-weight: bold;"><%= name %></span>,
            </p>
            <p>
              Please click the button below to confirm your email address and
              finish setting up your account. This link is valid for <%= expiration %>.
            </p>
            <form id="verifyForm" action="<%= verificationLink %>" method="POST">
              <input type="hidden" name="verificationToken" value="<%= verificationToken %>" />
              <button type="submit" class="verify-button">Click here to verify</button>
            </form>            
            <p style="border-bottom: 1px solid #f5f0e1; padding-bottom: 20px">
              You're receiving this email because you sign up for an account for
              our website. If you are not sure why you're receiving this,
              someone is probably using your email to sign up.
            </p>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
