@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Varela Round', sans-serif !important;
    --antd-font-family: 'Poppins', sans-serif;
}

#root,
.App {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Varela Round', sans-serif !important;
    --antd-font-family: 'Poppins', sans-serif !important;
}

.ant-typography, 
.ant-menu-title-content,
.ant-descriptions-item-content,
.ant-descriptions-item-label,
.ant-modal-title,
.ant-input,
.ant-btn,
.ant-collapse-header-text,
.ant-table-cell,
label,
a,
span,
strong,
button
{
    font-family: 'Varela Round', sans-serif !important;
    --antd-font-family: 'Poppins', sans-serif !important;
}